<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Create your new Product here!</h1>
    <form action="/products/new" method="post">
        <label>Enter Name:</label>
        <input type="text" name="name" >
        <label >Enter Price:</label>
        <input type="number" name="price" >
        <label for="">Enter category</label>
        <input type="text" name="category" >
        <button>Save</button>
    </form>
</body>
</html>